<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="{width: playerHealthBar}">
                    <p class="health">{{playerHealth}}</p>
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="{width: monHealthBar}">
                    <p class="health">{{monsterHealth}}</p>
                </div>
            </div>
        </div>
    </section>
    
    <section v-if="buttonStatus == 'start screen'" class="row controls">
        <div class="small-12 columns">
            <button @click="changeGameState" id="start-game">START NEW GAME</button>
        </div>
    </section>

    <section v-if="buttonStatus == 'in game'" class="row controls">
        <div class="small-12 columns">
            <button @click="attack('attack')" id="attack">ATTACK</button>
            <button @click="attack('special attack')" id="special-attack">SPECIAL ATTACK</button>
            <button @click="playerHeal()" id="heal">HEAL</button>
            <button id="give-up" @click="resetGame()">GIVE UP</button>
        </div>
    </section>
    
    <section v-if="status == 'in game'" class="row log">
        <div class="small-12 columns">
            <ul v-for="(value) in log">
                <li v-for="(value, key) in value" :class="key + '-turn'">
                    {{value}}
                </li>
            </ul>
        </div>
    </section>
</div>
</body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</html>